* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}

body{
  background-color:#2b3151;
}

.header-container {
  background-color:#2b3151;
  color: white;
  width: 95vw;
  height: fit-content;
  margin: 10px auto;
  position: sticky;
top:0;
}

.search-container {
  margin: 5px;
  padding: 10px;
  width: 95vw;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.logo{
  height: 90px;
  width: 180px;
  margin: 10px;
  position: absolute;
}
.nav-container {
  height: 80px;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.list-container {

  font-weight: bold;
  padding: 8px;
  list-style: none;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;

}

.list {
  margin: 0 20px;
  font-size: 30px;
  cursor: pointer;
}
.list-stay{
  color: #f7ba15;
}

.title {
  font-weight: 800;
  font-size: 45px;
  color:#f7ba15;

}
p{
  font-size: 1rem;
  margin:5px;
  padding: 5px;
}

.input-search {
  margin: 5px;
  width: 22vw;
  height: 6vh;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  background-color: white;

}
.search-s{
  width: 16vw;
}

.mainPokemon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
;
}

.container-pokemon {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-contrainer {
  background-color: white;
  margin: 20px;
  border: 3px solid #f7ba15;
  border-radius: 20px;
  width: 260px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}

.name-card_container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-card_container {
  border-radius: 0 0 18px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 6px;
}
.rows {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 6px;
}

.image-pokemon {
  width: 120px;
}

.mainHome{
  width: 100vw;
  height: 88vh;
  background-image:url(./images/background.jpeg);
  background-size: cover;
}
.welcome-message{
  position: absolute;
  width: 100vw;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.slogan{
  font-size: 70px;
  color: white;
}
.btnPrimary{
  width: 250px;
  height: 100px;
  border-radius: 15px;
  background-color:#f7ba15; ;
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin: 15px;
  cursor: pointer;
}
.btn-secondary{
  width: 100px;
  height: 30px;
  border: 1px solid #f7ba15;;
  border-radius: 10px;
  background-color :#f7ba15;;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.btn-M{
  width: 200px;
  height: 41px;
  border: 1px solid #f7ba15;;
  border-radius: 10px;
  background-color :#f7ba15;;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 4px 15px;
}
.btnPrimary:hover,.btn-M:hover, .btn-secondary:hover{
  background-color: greenyellow;
  transform: scale(1.1);
}
.icon-type{
  width: 40px;
  height: 40px;
  margin: 3px;
}
.hide {
  display: none;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
  padding: 0 1rem;
}
.p{
  font-size: 1rem;
  margin: 2px;
  padding: 2px;
}
.modal-container{
  background-color: #fff;
    width: 65vw;
    height: 80vh;
    margin: 2.5rem auto;
    padding: 2rem;
    border-radius: 10px;
    overflow-y: auto;
}
.modal-information{
  display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #column-small{
    width: 20vw;
  }
  #column-M{
    width: 45vw;
  }
.namePokemon{
  font-size: 24px;
  font-weight: 800;
}
.subtitle{
  font-size: 1.1rem;
}
.content-end{
  display: flex;
  justify-content: flex-end;
  margin: 5px;
  padding: 2px;
}

.closeModal{
  border: 2px solid red;
  color: red;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  background-color:white;
}
.info-modal{
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

.search-container.top10 {
  justify-content: space-evenly;
}

/* BREAKPOINS MEDIA RESPONSIVE*/
@media screen and (max-width: 768px)  {

  .header-container {
    height:fit-content;
  }

  .nav-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
  }

  .list {
    font-size: 20px;
    margin:8px;
  }

  .search-container {
    height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .mainPokemon {
    justify-content: center;
    margin: 10px auto;
  }

  .input-search {
    width: 55vw;
    height: 5vh;
  }
  .search-s{
    width: 47vw;
  }
  .slogan{
    font-size: 40px;
  }
  .btnPrimary{
    height: 50px;
  }
  .logo{
    height: 60px;
    width: 180px;
    margin: 3px 20px;
    position: initial;
  }

}
@media screen and (max-width: 490px) {
  .input-search {
    width: 43vw;
    height: 5vh;
    font-size: 1rem;
    padding: 0;
}
.search-container{
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
}
#iconArrow{
  height: 3rem;
}
.logo{
  display: inline;
  height: 50px;
  width: 150px;
  margin: 3px 20px;
}
.header-container {
  text-align: center;
}
.list-container{
  margin: 3px auto;
  padding: 0;
}
}
@media screen and (max-width: 320px) {
  .input-search {
    width: 38vw;
    height: 4vh;
    font-size: 1rem;
    padding: 0;
}
#iconArrow{
  height: 2rem;
}
}
