* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}


.header-container {
  background-color: #F32C44;
  color: white;
  width: 100vw;
  height: 12vh;
}

.search-container {
  padding: 10px;
  background-color: #3B4CCA;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  text-align: center;
}

.nav-container {
  height: 80px;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

label {
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 22px;

}

.list-container {
  font-weight: bold;
  padding: 8px;
  list-style: none;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;

}

.list {
  margin: 0 20px;
  font-size: 30px;
  cursor: pointer;
}

.title {
  font-weight: 800;
  ;
  font-size: 45px;
  color: #FFDE00;
  -webkit-text-stroke: 2px #3B4CCA;
}

.input-search {
  margin: 5px;
  width: 20vw;
  height: 6vh;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  background-color: white;

}

.mainPokemon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container-pokemon {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-contrainer {
  margin: 20px;
  border: 2px solid black;
  border-radius: 20px;
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}

.name-card_container {
  padding: 5px;
  display: flex;
  height: 175px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-card_container {

  border-top: 1px solid black;
  height: 122px;
  background-color: #FF0000;
  border-radius: 0 0 18px 18px;

}

.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4px;
}

.input {
  font-size: 15px;
  width: 90px;
  height: 35px;
  text-align: center;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: bolder;
  background-color: white;

}

.image-pokemon {
  width: 120px;

}

.id-number {
  margin: 10px;
  background-color: #FFDE00;
  border-bottom: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
}
.mainHome{
  width: 100vw;
  height: 88vh;
  background-image:url(/assets/background.jpeg);
  background-size: cover;
}
.welcome-message{
  position: absolute;
  width: 100vw;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.slogan{
  font-size: 70px;
  color: white;
}
.btnPrimary{
  width: 250px;
  height: 100px;
  border-radius: 15px;
  border: 1px solid rgb(106, 160, 25);
  background-color:rgb(106, 160, 25) ;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin: 15px;
}
.btnPrimary:hover{
  background-color:rgb(149, 219, 45);
  color: black;
  transform: scale(1.1);
}
.btnPrimary:active{
  transform: scale(1.2);
}
/* CLASES FONDOS DE CARDS*/
.grass {
  background: linear-gradient(180deg, #FFFFFF 0%, #6EC47B 54.17%, #0D9222 100%, #0D9222 100%);
}

.bug {
  background: linear-gradient(180deg, #FFFFFF 0%, #AEFF88 50.52%, #5BF213 100%);
}

.dark {
  background: linear-gradient(120deg, #FFFFFF 0%, #948B8B 51.56%, #222222 100%);
}

.dragon {
  background: linear-gradient(180deg, #FFFFFF 0%, #F9AA7D 50%, #FF5C00 100%);
}

.electric {
  background: linear-gradient(120deg, #FFFFFF 0%, #FFEE7B 51.04%, #FFDE00 100%);
}

.fairy {

  background: linear-gradient(120deg, #FFFFFF 0%, #FFBBBB 40.63%, #9BA2C7 80.21%, #717096 100%);

}

.fighting {
  background: linear-gradient(180deg, #FFFFFF 0%, #FFD482 42.71%, #EAB54F 66.15%, #ED3F3F 96.35%);}

.fire {
  background: linear-gradient(180deg, #FFFFFF 0%, #FB8290 48.96%, #ee5b21 98.44%);
}
.flying{
  background: linear-gradient(120deg, #FFFFFF 0%, #a3f5dc 46.35%, #32f5db 100%);
}

.ghost {
  background: linear-gradient(180deg, #FFFFFF 0%, #C67DFF 48.96%, #620CA7 92.19%);
}

.grass {
  background: linear-gradient(180deg, #FFFFFF 0%, #72FF88 54.69%, #0D9222 100%, #0D9222 100%);
}

.ground {
  background: linear-gradient(180deg, #FFFFFF 0%, #FFB978 51.56%, #884200 100%);
}

.ice {
  background: linear-gradient(180deg, #FFFFFF 0%, #2d979e 48.44%, #00c3d1 100%);
}

.normal {
  background: linear-gradient(180deg, #FFFFFF 0%, #BBAFAF 48.44%, #5F5D5D 100%);
}

.poison {
  background: linear-gradient(180deg, #FFFFFF 0%, #9c81ac 47.57%, #543a63 100%);
}

.psychic {
  background: linear-gradient(180deg, rgba(251, 240, 248, 0.97) 15.1%, rgba(133, 6, 97, 0.58) 58.85%, #E204A4 85.94%);
}

.rock {
  background: linear-gradient(180deg, #FFFEFD 14.06%, rgba(227, 170, 102, 0.85) 52.08%, #7A4200 83.85%);
}
.steel {
  background: linear-gradient(180deg, #FFFFFF 0%, #BBAFAF 48.44%, #5F5D5D 100%);
}
.water {
  background: linear-gradient(180deg, #FFFFFF 0%, #7885FF 52.6%, #052e63 100%);
}
.ground {
  background: linear-gradient(180deg, #FFFFFF 0%, #FFB978 51.56%, #884200 100%);
}

.hide {
  display: none;
}


.modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
  padding: 0 1rem;
}

.modal > .modal-container{
  background-color: #fff;
  max-width: 800px;
  padding: 2rem;
  margin: 10px auto;
  border-radius: 10px;
}

.modal > .modal-container > h1{
    text-align: center;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
}

.modal > .modal-container > p{
  margin-top: 5px;
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}


/* BREAKPOINS MEDIA RESPONSIVE*/
@media screen and (max-width: 550px) and (min-width: 270px) {

  .header-container {
    height: 16vh;
    text-align: center;
  }

  .nav-container {
    flex-direction: column;

  }

  .list {
    font-size: 20px;
  }

  .search-container {
    height: 30vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mainPokemon {
    justify-content: center;
    margin: 10px auto;
  }

  .input-search {
    width: 65vw;
    height: 10vh;
  }
  .slogan{
    font-size: 40px;
  }
  .btnPrimary{
    height: 50px;
  }

}  
 
