* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}

body{
  background-color:#2b3151
}

.header-container {
  color: white;
  width: 100vw;
  height: 12vh;
}

.search-container {
  padding: 10px;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.logo{
  position: absolute;
  height: 90px;
  width: 200px;
  margin: 5px 20px;
}
.nav-container {
  height: 80px;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.list-container {
  font-weight: bold;
  padding: 8px;
  list-style: none;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;

}

.list {
  margin: 0 20px;
  font-size: 30px;
  cursor: pointer;
}

.title {
  font-weight: 800;
  font-size: 45px;
  color:#f7ba15;

}
p{
  font-size: 1rem;
  margin:5px;
  padding: 5px;
}

.input-search {
  margin: 5px;
  width: 22vw;
  height: 6vh;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  background-color: white;

}

.mainPokemon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
;
}

.container-pokemon {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-contrainer {
  background-color: white;
  margin: 20px;
  border: 3px solid #f7ba15;
  border-radius: 20px;
  width: 260px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}

.name-card_container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-card_container {
  border-radius: 0 0 18px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 6px;
}
.rows {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 6px;
}

.image-pokemon {
  width: 120px;
}

.mainHome{
  width: 100vw;
  height: 88vh;
  background-image:url(./images/background.jpeg);
  background-size: cover;
}
.welcome-message{
  position: absolute;
  width: 100vw;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.slogan{
  font-size: 70px;
  color: white;
}
.btnPrimary{
  width: 250px;
  height: 100px;
  border-radius: 15px;
  background-color:#f7ba15; ;
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin: 15px;
}
.btn-secondary{
  width: 100px;
  height: 30px;
  border: 1px solid #f7ba15;;
  border-radius: 10px;
  background-color :#f7ba15;;
  font-size: 20px;
  font-weight: bold;
}
.btnPrimary:hover, .btn-secondary:active{
  background-color: greenyellow;
  transform: scale(1.1);
}
.icon-type{
  width: 40px;
  height: 40px;
}
.hide {
  display: none;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
  padding: 0 1rem;
}
.p{
  font-size: 1rem;
  margin: 2px;
  padding: 2px;
}
.modal-container{
  background-color: #fff;
    width: 65vw;
    height: 80vh;
    margin: 5rem auto;
    padding: 1rem;
    border-radius: 10px;
}
.modal-information{
  display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #column-small{
    width: 20vw;
  }
  #column-M{
    width: 30vw;
  }
.namePokemon{
  font-size: 24px;
  font-weight: 800;
}
.subtitle{
  font-size: 1.1rem;
}
.content-end{
  display: flex;
  justify-content: flex-end;
  margin: 5px;
  padding: 2px;
}

.closeModal{
  border: 2px solid red;
  color: red;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  background-color:white;
}
.info-modal{
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}



/* BREAKPOINS MEDIA RESPONSIVE*/
@media screen and (max-width: 550px) and (min-width: 270px) {

  .header-container {
    height: 16vh;
    text-align: center;
  }

  .nav-container {
    flex-direction: column;

  }

  .list {
    font-size: 20px;
  }

  .search-container {
    height: 30vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mainPokemon {
    justify-content: center;
    margin: 10px auto;
  }

  .input-search {
    width: 65vw;
    height: 10vh;
  }
  .slogan{
    font-size: 40px;
  }
  .btnPrimary{
    height: 50px;
  }

}  
 